.adminBrukerScroll {
    height: calc(100vh - 500px);
    overflow-y: auto;
}

.adminBrukerScroll div {
    cursor: pointer;
}

.adminBrukerSok {
    width: calc(100% - 74px);
    margin-right:5px;
}

.adminBrukerSok input {
    width:100%;
}

.adminSendInput {
    width: calc(100% - 82px);
    margin-right:5px;
}

.adminSendInput input {
    width:100%;
}

.adminRedigerInput {
    width: calc(100% - 82px);
    margin-right:5px;
}

.adminRedigerInput input {
    width:100%;
}

.adminInput {
    width:100%;
}

.adminInput input {
    width:100%;
}