

#minRow .feilCardImage{
    /*width: 250px !important;*/
    height: auto;
    max-height: 250px;
    
    object-fit: cover;
}

#minRow .feilCard{
    /*width:250px !important;*/
    margin:5px 0!important;
}

/*.slettFeil:hover{
    
}*/

.minSideUtKolonne {
  width: fit-content;
  margin-top:2.71428571rem;
}

.minSideUtKolonne > .card {
  width: 325px !important;
}

.minSideInKolonne {
  width: 250px;
}

#sideListe > .card {
  float: right;
}

.highlight {
    color: yellowgreen;
}

.ingenNyeOppdateringer {
  color: red;
  font-size: 15px;
}

.nyeOppdateringer{
  font-size: 15px;
}

.rapporterteFeilScroll {
    height: 50vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

#container > div {
  display:inline-block;
}

#keys {
  font-weight: 600;
}

#innhold {
  float:right;
  text-align: right;
  word-break: break-all;
}

.hoyreForm, .hoyreForm div input, .hoyreForm div ul{
  text-align: right;
}

.labelVarsling {
  padding-left: 1.25rem;
}

.checkVarsling {
  margin-left: 0;
}

.venstreForm {
  text-align: left;
  font-weight: 600;
}

.modalPopup {
  color: #0645AD;
  
}

.modalPopup:hover{
  cursor: pointer;
}

@media screen and (min-width:900px) and (max-width: 1200px) {
  #minRow {
    width: 700px !important;
    margin: 0 auto !important;
  }

  #hendelseListe {
    margin-left: 100px !important;
  }

  .minSideUtKolonne {
    position: absolute;
    z-index: 900;
    padding:0 !important;
    top: 150px;
  }

  #sideListeH {
    left: calc(((100vw - 690px)/2) + 365px);
  }

  #sideListe {
    left: calc((100vw - 690px)/2);
  }

  .minSideInKolonne {
    position: relative;
    top: 350px;
  }
}