#statMeny {
  padding:10px;
  widows: 100%;
}

#lastNedPDFBtn {
  
}

.statSelect {
  width:200px;
  display:inline;
  margin-right:10px;
}

.statKomBoks {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}