.bedriftContainer {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    /*background-color:
    */
  }

  .fiksStorrelseOverskrift{
    text-align: center;
  }

  .statusTabell {
    /*width: 60%;*/
    text-align: center;
  }