.main-center {
  /*width:100%;*/
  background-image: url("/lofoten.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-title {
  font-size: 3vw;
  color:#fff;
}

.main-content {
  margin-top: calc(50vh - 230px);
}

.main-header {
  height:100px;
  padding:20px;
  position: absolute;
  width:100%;
}

.main-header img {
  height: 80px;
  margin: -10px;
}

.main-header-button {
  height: 60px;
  font-size: 18px;
}