.pageHeader {
    height:100px;
    width:100%;
    background-color:#fff;
    border-bottom: 2px solid #eee;
}

.pageHeaderLogo {
    height:100%;
    padding:10px;
}

.profileIcon {
    height:100%;
    display: inline;
}

.headKomWrapper {
    width:300px;
    display:inline;
    margin: auto 20px;
}

.pageHeaderRight {

    float: right;
    padding:20px;
    height: 100%;
    display:inline-flex;
}

.pageHeaderButton {
    margin-left: 15px;
    height: 60px;
    font-size: 18px;
}

.headKomWrapper div input {
    font-size: 14px;
    height: 40px;
}

.headKomWrapper div ul li a {
    font-size: 14px;
    padding: 5px;
}