

.komBoks {
    position: relative;
}

.komListe {
    position: absolute;
    width:100%;
    list-style: none;
    padding:0;
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    z-index: 1000;
}

.komElement a {
    text-decoration: none;
    color: #000;
}

.komElement:hover a {
    text-decoration: none;
    color: #000;
}

.komV {
    background: #fff;
    display: inline-block;
    width:100%;
    font-size:14px;
    padding:5px;
    cursor: pointer;
    transition: background 0.25s;
}

.komV:hover {
    background: #eee;
    transition: background 0.25s;
}

.komElement {
    background: #fff;
    display: inline-block;
    width:100%;
    font-size:18px;
    padding:15px;
    cursor: pointer;
    transition: background 0.25s;
}

.komValgt {
    background: #eee;
}

.komElement:hover {
    background: #eee;
    transition: background 0.25s;
}

