#minRow .feilCardImage{
    /*width: 250px !important;*/
    height: auto;
    max-height: 250px;
    
    object-fit: cover;
}

#minRow .feilCard{
    /*width:250px !important;*/
    margin:5px 0!important;
}

/*.slettFeil:hover{
    
}*/

.minSideUtKolonne {
  width: 100%;
}

.minSideUtKolonne > .card {
  width: 325px !important;
}

.minSideInKolonne {
  width: 250px;
}

#sideListeH {
  margin-right: 1.5em;
}

#sideListe {
  margin-left: 1.5em;
}

#sideListe > .card {
  float: right;
}

.highlight {
    color: yellowgreen;
}

.rapporterteFeilScroll {
    height: 50vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

#container > div {
  display:inline-block;
}

#keys {
  font-weight: 600;
}

#innhold {
  float:right;
  text-align: right;
  word-break: break-all;
}

.hoyreForm, .hoyreForm div input, .hoyreForm div ul{
  text-align: right;
}



.venstreForm {
  text-align: left;
  font-weight: 600;
}

.modalPopup {
  color: #0645AD;
  
}

.modalPopup:hover{
  cursor: pointer;
}