.feilCardImage{
    width: 250px !important;
    height: auto;
    max-height: 300px;
    
    object-fit: cover;
}

.feilCard{
    width:250px !important;
}

.slettFeil:hover{
    
}

.columnCenter{
    width:250px;
    margin: 0 auto;
}

#sideListe, #sideListeH {
    min-width: 270px;
}

#sideListeH {
  margin-right: 15px;
}

.minRow > div {
    min-width: 250px;
}

.highlight {
    color: yellowgreen;
}

.rapporterteFeilScroll {
    height: 50vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}