.feilCardImage{
    width: 250px !important;
    height: auto;
    max-height: 300px;
    
    object-fit: cover;
}

.feilCard{
    width:250px !important;
}

.slettFeil:hover{
    
}

.columnCenter{
    width:250px;
    margin: 0 auto;
}

#sideListe {
    min-width: 270px;
}

.minRow > div {
    min-width: 250px;
}

.highlight {
    color: yellowgreen;
}